/node_modules
/dist
/.env
/coverage
/.vscode
.DS_Store
*.log
*.tsbuildinfo
# Ignore IDE specific files
.idea/
*.vsix

# IgnoreKit
# Added from VS Code Explorer
/vscode-problems-cleaner-0.1.0.vsix
/dev.md
/build.bat
# End IgnoreKit
