.vscode/**
src/**
*.map
**/*.map
tsconfig.json
node_modules/**
scripts/**
.git/**
.gitignore
package-lock.json

# IgnoreKit
# Added from VS Code Explorer
/vscode-problems-cleaner-0.1.0.vsix
# End IgnoreKit
